<div class="full-container">

  <div class="my-form-container">
    <% form_title = "Book animal" %>
    <h1 class="text-center"><%=form_title%></h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <%= simple_form_for [@animal, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <% link_text = "Book now" %>
        <%= f.submit link_text, class: "btn btn-success" %>
        <%end%>

        <%= link_to animals_path do %>
        <button class="btn btn_primary">Cancel</button>
        <%end%>

      </div>
    </div>

  </div>
  <div class="picture-for-form"></div>
</div>

