<div class="container">
  <h1> Més Réservations</h1>
  <div class="row">
    <% @bookings.each do |booking| %>

        <div class="col-xs-12 col-sm-4 col-md-4">
          <% picture = booking.animal.photo.present? ? booking.animal.photo.url : 'https://s23527.pcdn.co/wp-content/uploads/2017/04/7f9b0349008983.58a83de93c77d.jpg.optimal.jpg' %>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= picture %>);">

            <div>
              <%= link_to "Add review", new_booking_review_path(booking), class: "btn btn-success" %>
            </div>

            <div class="reviews">
              <%= booking.reviews.last.content unless booking.reviews.empty? %>
            </div>


            <div class="card-description">
              <h2 style='font-size: 16px'><%=link_to booking.animal.name, animal_path(booking.animal), class: "white-text" %></h2>
            </div>
            <div class="card-price">
              <p><%= booking.animal.price %> €</p>
            </div>

          </div>
        </div>

    <%end%>
