<div class="full-container">

  <div class="my-form-container">
    <% form_title = @animal.id ? "Edit Animal" : "New Animal" %>
    <h1 class="text-center"><%=form_title%></h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <%= simple_form_for animal do |f| %>
        <%= f.input :name, placeholder: "Snoopy"%>
        <%= f.input :category, placeholder: "Dog"%>
        <%= f.input :price, placeholder: "10" %>
        <%= f.input :description, placeholder: "A nice dog who loves tennis balls :)"%>
        <%= f.input :address, placeholder: "87 rue de sèvres, 75007 Paris"%>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <% link_text = animal.id.nil? ? "Add Animal" : "Edit Animal" %>
        <%= f.submit link_text, class: "btn-hover color-1" %>
        <%end%>

        <%= link_to animals_path do %>
        <button class="btn btn_primary">Cancel</button>
        <%end%>

      </div>
    </div>

  </div>
  <div class="picture-for-form"></div>
</div>
