
<div class="wrapper">
  <div class="animal-container">

    <div class="animal-description">
      <h1><%= @animal.name %></h1>
      <p><%= @animal.description %></p>
      <p><%= @animal.price %> €/jour</p>
      <%= link_to "Book now", new_animal_booking_path(@animal), {:class => "button_book_now"} %>
      <% if current_user == @animal.user %>
      <%= link_to "Edit", edit_animal_path(@animal) %>
      <%= link_to "Delete", animal_path(@animal),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

    <div class="animal-picture">

      <%= cl_image_tag @animal.photo, crop: :fill, class: "picture-of-the-animal" %>

    </div>

  </div>
  <%= link_to "Back Index", animals_path %>
</div>

