<div class="wrapper">
  <div class="animal-container">

    <div class="animal-description">

      <div class="animal-description-top">
        <h1><%= @animal.name %></h1>
        <p><%= @animal.description %></p>
      </div>

      <div class="animal-description-bottom">
        <p><%= @animal.price %> €/jour</p>
        <%= link_to "Book now", new_animal_booking_path(@animal), class: "btn btn-success" %>
        <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-info" %>
        <%= link_to "Delete", animal_path(@animal),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>

    </div>

    <div class="animal-picture">

      <%= cl_image_tag @animal.photo, crop: :fill, class: "picture-of-the-animal" %>

    </div>

  </div>
  <%= link_to "Back Index", animals_path, class: "btn btn-primary" %>
</div>


