<h1><%= @animal.name %></h1>
<p><%= @animal.description %></p>
<p><%= @animal.price %></p>
<%= link_to "Delete", animal_path(@animal),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<%= link_to "Back Index", animals_path %>


